.container {
  width: 1240px;
  margin: 0 auto;
}

.general {
  display: flex;
  align-items: center;
  justify-content: center;

  flex-direction: column;
}

.link {
  text-decoration: none;
  color: initial;
}
