.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form {
  display: flex;
  height: 600px;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.input {
  width: 300px;
  border: none;
  height: 50px;
  color: #b7b7b7;
  border-bottom: 1px solid red;
}

.h1 {
  font-size: 25px;
  font-weight: 300;
}

.button {
  width: 100%;
  border: none;
  height: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #017782;
  color: white;
  margin-top: 20px;
}

.button:hover {
  cursor: pointer;
}

.lastSentence {
  color: #017782;
}
